* {
  font-family: 'Monserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Cascadia Mono', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #f5ef79;
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
  width: 100%;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
  
}

header form {
  flex: 1;
  background: transparent;
  width: 100%;
  display: flex;
  gap: 14px;
}

header button {
  flex: .10;  
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}


header input {
  flex: 1;
  min-width: 0;
  padding: 14px 18px;
  border: none;
  outline: none;
  background: #f5ef79;
  box-shadow: 0 0 10px rgba(6, 0, 0, 0.1);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  background: #f5ef79;
}

.todoItem p {
  flex: 1;
  font-size: 1.5rem;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}